@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

/* custom-scrollbar.css */
/* Hide the scrollbar but keep the functionality */
body::-webkit-scrollbar {
width: 0.25rem; /* Width of the vertical scrollbar */
}

body::-webkit-scrollbar-thumb {
background-color: transparent; /* Color of the thumb (the draggable part) */
}

body::-webkit-scrollbar-track {
background-color: transparent; /* Color of the track (the bar behind the thumb) */
}


